@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.Website.Models
@using ContosoCrafts.Website.Services
@inject JsonFileProductService _productService

<div class="card-columns">
    @foreach (var product in _productService.GetProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button @onclick="(e => SelectProduct(product.Id))" data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                        More Info
                    </button>
                </small>
            </div>
        </div>
    }
</div>

@code {

    Product selectedProduct;
    string selectedProductId;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = _productService.GetProducts().First(item => item.Id == productId);
    }

}